@tailwind base;
@tailwind components;
@tailwind utilities;

.border-gradient {
    position: relative;
    padding: 1.3rem;
    backdrop-filter: blur(10px);
    border-radius: 0.75rem;
}

.border-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.75rem;
    border: 5px solid transparent;
    background: linear-gradient(to right, darkblue, darkorchid) border-box;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
}
